$color-purple: rgb(57, 20, 219);
$color-blue: #00f;
$color-navy: rgb(1, 1, 95);
$color-dark: #333;
$color-grey: rgb(102, 101, 101);
$color-light: rgb(246, 245, 245);

.waveform {
  padding: 1rem;

  &__sticks {
    display: flex;
    align-items: flex-end;
  }

  &__stick {
    width: 5px;
    flex-grow: 1;
    margin: 0 0.5px;
  }

  &__time {
    display: flex;
    justify-content: space-between;
  }
}
