$color-purple: purple;
$color-blue: #00f;
$color-navy: rgb(1, 1, 95);
$color-dark: #333;
$color-light: #eee;
$main-gradient: linear-gradient(
  0.25turn,
  $color-purple,
  $color-blue,
  $color-navy
);

$font-size-mid: 1.2rem;
$font-size-small: 0.8rem;

* {
  margin: 0;
  padding: 0;
}

.nav-container {
  width: 100%;
  background: $main-gradient;
}

.nav {
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__title {
    margin: 0;
    padding: 0;
    color: $color-light;
  }

  &__search {
    flex-grow: 2;
    margin: 0.3rem 1rem;
    position: relative;

    &__icon {
      color: $color-dark;
      font-size: $font-size-mid;
      position: absolute;
      right: 1rem;
      top: 0.5rem;
      cursor: pointer;
    }

    input {
      border-radius: 100rem;
      border: 1.4px solid $color-dark;
      width: 100%;
      padding: 0.3rem 1rem;
      box-sizing: border-box;
      font-size: $font-size-mid;

      &:focus {
        outline: none;
      }
    }
  }
}

.btn {
  background-color: transparent;
  border: 1.5px solid $color-light;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: $color-light;
  outline: none;
  font-size: $font-size-small;
  margin: 0 1rem;
}

.profile {
  display: flex;
  align-items: center;
  &__image {
    width: 2rem;
    clip-path: circle();
  }

  &__username {
    color: $color-light;
    padding: 0 1rem;
  }
}
